<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../public/layout.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <div class="container">
            <header class="header">
                <div class="logo">
                    <img src="../public/logo/logo.svg" alt="">
                </div>
                <ul class="list_menu">
                    <li><a href="./layout.html">
                            <span class="line"></span>
                            Home</a></li>
                    <li><a href="">
                            <span class="line"></span>
                            About</a></li>
                    <li><a href="./rooms.html">
                            <span class="line"></span>
                            Rooms</a></li>
                    <li><a href="">
                            <span class="line"></span>
                            Blog</a></li>
                    <li><a href="">
                            <span class="line"></span>
                            Page</a></li>
                    <li><a href="">
                            <span class="line"></span>
                            Contact</a></li>
                    <li><a href="./booking.html">
                            <span class="line"></span>
                            Booking</a></li>
                </ul>
                <div class="modal">
                    <span id="signIn2" class="btn">Sign In</span>
                    <span id="signUp2" class="btn">Sign Up</span>
                </div>

            </header>
           
            <section class="place booking_header">
                <div class="place-title">
                    <h1>Kinsley is Waiting for You!</h1>
                    <p>Consectetur adipisicing elit. Nihil, illum voluptate
                        eveniet ex fugit ea delectus, sed voluptatem. Laborum
                        <br>
                        accusantium libero commodi id officiis itaque esse
                        adipisci, necessitatibus asperiores, illo odio.
                    </p>
                </div>
            </section>

            <div class="booking_list">
                <table width="100%">
                    <thead>
                        <td>STT</td>
                        <td>Image</td>
                        <td>Name</td>
                        <td>Price</td>
                        <td>Check In</td>
                        <td>Check Out</td>
                        <td>SubTotal</td>
                        <td>Remove</td>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="../public/room/room-8.jpg" alt=""></td>
                            <td>Business Class Room</td>
                            <td>$59</td>
                            <td><input type="date" name="" id=""></td>
                            <td><input type="date" name="" id=""></td>
                            <td>$59</td>
                            <td><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="../public/room/room-8.jpg" alt=""></td>
                            <td>Business Class Room Business Class Room Business
                                Class Room</td>
                            <td>$59</td>
                            <td><input type="date" name="" id=""></td>
                            <td><input type="date" name="" id=""></td>
                            <td>$59</td>
                            <td><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td><img src="../public/room/room-8.jpg" alt=""></td>
                            <td>Business Class Room</td>
                            <td>$59</td>
                            <td><input type="date" name="" id=""></td>
                            <td><input type="date" name="" id=""></td>
                            <td>$59</td>
                            <td><i class="fa-solid fa-trash"></i></td>
                        </tr>
                    </tbody>
                </table>
                <div class="total">
                    <h4>Tổng số tiền: <span>$59</span></h4>
                    <button class="btn">Thanh toán</button>
                </div>
        
            </div>

            <footer class="footer">
                <div class="row">
                    <div class="col-4">
                        <div class="logo footer-title">
                            <img src="../public/logo/logo-w.svg" alt="">
                        </div>
                        <p>Sequi dolores ratione eos eveniet provident soluta.
                            Omnis nesciunt sit eos at, eius voluptatum rem
                            corporis. Doloremque labore assumenda explicabo
                            velit illo, soluta, inventore hic.</p>
                        <span class="footer-link">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </span>
                    </div>
                    <div class="col-2 ">
                        <div class="footer-title">
                            <h4>Menu</h4>
                        </div>
                        <ul>
                            <li>Home</li>
                            <li>About Us</li>
                            <li>Rooms</li>
                            <li>Blog</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <div class="col-2 ">
                        <div class="footer-title">
                            <h4>Meet Kinsley</h4>
                        </div>
                        <ul>
                            <li>Gallery</li>
                            <li>Restaurant</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <div class="footer-title">
                            <h4>Instagram</h4>
                        </div>
                        <div class="row">
                            <div class="ins-img col-4">
                                <img src="../public/about/about-6.jpg" alt="">
                            </div>
                            <div class="ins-img col-4">
                                <img src="../public/about/about-2.jpg" alt="">
                            </div>
                            <div class="ins-img col-4">
                                <img src="../public/about/about-3.jpg" alt="">
                            </div>
                            <div class="ins-img col-4">
                                <img src="../public/about/about-4.jpg" alt="">
                            </div>
                            <div class="ins-img col-4">
                                <img src="../public/about/about-5.jpg" alt="">
                            </div>
                            <div class="ins-img col-4">
                                <img src="../public/about/about-7.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </footer>

        </div>
        <script src="../public/main.js"></script>
        <script>
            var mainImg = document.getElementById('mainImg');
            var smallImg = document.getElementsByClassName('smallImg');

                smallImg[0].onclick = function () {
                    mainImg.src = smallImg[0].src;
                }
                smallImg[1].onclick = function () {
                    mainImg.src = smallImg[1].src;
                }
                smallImg[2].onclick = function () {
                    mainImg.src = smallImg[2].src;
                }
                smallImg[3].onclick = function () {
                    mainImg.src = smallImg[3].src;
                }
                smallImg[4].onclick = function () {
                    mainImg.src = smallImg[4].src;
                }
            
        </script>
    </body>

</html>