<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../public/layout.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <div class="container">
            <header class="header">
                <div class="logo">
                    <img src="../public/logo/logo.svg" alt="">
                </div>
                <ul class="list_menu">
                    <li><a href="./layout.html">
                            <span class="line"></span>
                            Home</a></li>
                    <li><a href="">
                            <span class="line"></span>
                            About</a></li>
                    <li><a href="./rooms.html">
                            <span class="line"></span>
                            Rooms</a></li>
                    <li><a href="">
                            <span class="line"></span>
                            Blog</a></li>
                    <li><a href="">
                            <span class="line"></span>
                            Page</a></li>
                    <li><a href="">
                            <span class="line"></span>
                            Contact</a></li>
                    <li><a href="">
                            <span class="line"></span>
                            Booking</a></li>
                </ul>
                <div class="modal">
                    <span id="signIn2" class="btn">Sign In</span>
                    <span id="signUp2" class="btn">Sign Up</span>
                </div>

            </header>

            <section class="place section-m1">
                <div class="place-title">
                    <h1>Choose your Room</h1>
                    <p>Laborum accusantium libero commodi. Voluptate consequatur
                        itaque expedita accusamus impedit perspiciatis <br>
                        asperiores necessitatibus assumenda magnam ipsa.
                    </p>
                    <a href=""><button class="btn"> <span>Home <i
                                    class="fa-solid fa-chevron-right"></i></span>
                            Rooms</button></a>
                </div>
                <ul class="category">
                    <li> <a href=""> <button"
                                class="btn2 active cat-item">All Rooms</button></a></li>
                    <li> <a href=""> <button"
                                class="btn2 cat-item">Economy</button></a></li>
                    <li> <a href=""> <button"
                                class="btn2 cat-item">Luxe</button></a></li>
                    <li> <a href=""> <button"
                                class="btn2 cat-item">Standard</button></a></li>
                </ul>
                <div class="room_container slider">
                    <div class="room-width row">
                        <div class="room-item col-4">
                            <div class="room">
                                <div class="room-img">
                                    <img src="../public/room/room-1.jpg" alt="">
                                </div>
                                <div class="room-content">
                                    <ul class="room-space">
                                        <li>
                                            <i class="fa-solid fa-bed"></i>
                                            <span>Adult: 2</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-square"></i>
                                            <span>Size: 35m<sup>2</sup></span>
                                        </li>
                                    </ul>
                                    <h1>Business Class Room</h1>
                                    <p>
                                        Image for cattle earth. May one Which
                                        life divide sea. Optio veniam quibusdam
                                        fugit aspernatur ratione rerum
                                        necessitatibus ipsa eligendi? Laudantium
                                        beatae aut earum ab doloribus tempore
                                        veritatis repellat natus illo, veniam
                                        quibusdam fugit aspernatur
                                        cumque harum quos esse libero nesciunt,
                                        molestiae saepe, possimus a suscipit.
                                    </p>
                                    <div class="room-book">
                                        <p><span>$59</span> Per Night</p>
                                        <a href=""><button class="btn">Book Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room-item col-4">
                            <div class="room">
                                <div class="room-img">
                                    <img src="../public/room/room-2.jpg" alt="">
                                </div>
                                <div class="room-content">
                                    <ul class="room-space">
                                        <li>
                                            <i class="fa-solid fa-bed"></i>
                                            <span>Adult: 2</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-square"></i>
                                            <span>Size: 35m<sup>2</sup></span>
                                        </li>
                                    </ul>
                                    <h1>Business Class Room</h1>
                                    <p>
                                        Image for cattle earth. May one Which
                                        life divide sea. Optio veniam quibusdam
                                        fugit aspernatur ratione rerum
                                        necessitatibus ipsa eligendi? Laudantium
                                        beatae aut earum ab doloribus tempore
                                        veritatis repellat natus illo, veniam
                                        quibusdam fugit aspernatur
                                        cumque harum quos esse libero nesciunt,
                                        molestiae saepe, possimus a suscipit.
                                    </p>
                                    <div class="room-book">
                                        <p><span>$59</span> Per Night</p>
                                        <a href=""><button class="btn">Book Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room-item col-4">
                            <div class="room">
                                <div class="room-img">
                                    <img src="../public/room/room-3.jpg" alt="">
                                </div>
                                <div class="room-content">
                                    <ul class="room-space">
                                        <li>
                                            <i class="fa-solid fa-bed"></i>
                                            <span>Adult: 2</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-square"></i>
                                            <span>Size: 35m<sup>2</sup></span>
                                        </li>
                                    </ul>
                                    <h1>Business Class Room</h1>
                                    <p>
                                        Image for cattle earth. May one Which
                                        life divide sea. Optio veniam quibusdam
                                        fugit aspernatur ratione rerum
                                        necessitatibus ipsa eligendi? Laudantium
                                        beatae aut earum ab doloribus tempore
                                        veritatis repellat natus illo, veniam
                                        quibusdam fugit aspernatur
                                        cumque harum quos esse libero nesciunt,
                                        molestiae saepe, possimus a suscipit.
                                    </p>
                                    <div class="room-book">
                                        <p><span>$59</span> Per Night</p>
                                        <a href=""><button class="btn">Book Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room-item col-4">
                            <div class="room">
                                <div class="room-img">
                                    <img src="../public/room/room-4.jpg" alt="">
                                </div>
                                <div class="room-content">
                                    <ul class="room-space">
                                        <li>
                                            <i class="fa-solid fa-bed"></i>
                                            <span>Adult: 2</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-square"></i>
                                            <span>Size: 35m<sup>2</sup></span>
                                        </li>
                                    </ul>
                                    <h1>Business Class Room</h1>
                                    <p>
                                        Image for cattle earth. May one Which
                                        life divide sea. Optio veniam quibusdam
                                        fugit aspernatur ratione rerum
                                        necessitatibus ipsa eligendi? Laudantium
                                        beatae aut earum ab doloribus tempore
                                        veritatis repellat natus illo, veniam
                                        quibusdam fugit aspernatur
                                        cumque harum quos esse libero nesciunt,
                                        molestiae saepe, possimus a suscipit.
                                    </p>
                                    <div class="room-book">
                                        <p><span>$59</span> Per Night</p>
                                        <a href=""><button class="btn">Book Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room-item col-4">
                            <div class="room">
                                <div class="room-img">
                                    <img src="../public/room/room-5.jpg" alt="">
                                </div>
                                <div class="room-content">
                                    <ul class="room-space">
                                        <li>
                                            <i class="fa-solid fa-bed"></i>
                                            <span>Adult: 2</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-square"></i>
                                            <span>Size: 35m<sup>2</sup></span>
                                        </li>
                                    </ul>
                                    <h1>Business Class Room</h1>
                                    <p>
                                        Image for cattle earth. May one Which
                                        life divide sea. Optio veniam quibusdam
                                        fugit aspernatur ratione rerum
                                        necessitatibus ipsa eligendi? Laudantium
                                        beatae aut earum ab doloribus tempore
                                        veritatis repellat natus illo, veniam
                                        quibusdam fugit aspernatur
                                        cumque harum quos esse libero nesciunt,
                                        molestiae saepe, possimus a suscipit.
                                    </p>
                                    <div class="room-book">
                                        <p><span>$59</span> Per Night</p>
                                        <a href=""><button class="btn">Book Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room-item col-4">
                            <div class="room">
                                <div class="room-img">
                                    <img src="../public/room/room-6.jpg" alt="">
                                </div>
                                <div class="room-content">
                                    <ul class="room-space">
                                        <li>
                                            <i class="fa-solid fa-bed"></i>
                                            <span>Adult: 2</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-square"></i>
                                            <span>Size: 35m<sup>2</sup></span>
                                        </li>
                                    </ul>
                                    <h1>Business Class Room</h1>
                                    <p>
                                        Image for cattle earth. May one Which
                                        life divide sea. Optio veniam quibusdam
                                        fugit aspernatur ratione rerum
                                        necessitatibus ipsa eligendi? Laudantium
                                        beatae aut earum ab doloribus tempore
                                        veritatis repellat natus illo, veniam
                                        quibusdam fugit aspernatur
                                        cumque harum quos esse libero nesciunt,
                                        molestiae saepe, possimus a suscipit.
                                    </p>
                                    <div class="room-book">
                                        <p><span>$59</span> Per Night</p>
                                        <a href=""><button class="btn">Book Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room-item col-4">
                            <div class="room">
                                <div class="room-img">
                                    <img src="../public/room/room-6.jpg" alt="">
                                </div>
                                <div class="room-content">
                                    <ul class="room-space">
                                        <li>
                                            <i class="fa-solid fa-bed"></i>
                                            <span>Adult: 2</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-square"></i>
                                            <span>Size: 35m<sup>2</sup></span>
                                        </li>
                                    </ul>
                                    <h1>Business Class Room</h1>
                                    <p>
                                        Image for cattle earth. May one Which
                                        life divide sea. Optio veniam quibusdam
                                        fugit aspernatur ratione rerum
                                        necessitatibus ipsa eligendi? Laudantium
                                        beatae aut earum ab doloribus tempore
                                        veritatis repellat natus illo, veniam
                                        quibusdam fugit aspernatur
                                        cumque harum quos esse libero nesciunt,
                                        molestiae saepe, possimus a suscipit.
                                    </p>
                                    <div class="room-book">
                                        <p><span>$59</span> Per Night</p>
                                        <a href=""><button class="btn">Book Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room-item col-4">
                            <div class="room">
                                <div class="room-img">
                                    <img src="../public/room/room-7.jpg" alt="">
                                </div>
                                <div class="room-content">
                                    <ul class="room-space">
                                        <li>
                                            <i class="fa-solid fa-bed"></i>
                                            <span>Adult: 2</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-square"></i>
                                            <span>Size: 35m<sup>2</sup></span>
                                        </li>
                                    </ul>
                                    <h1>Business Class Room</h1>
                                    <p>
                                        Image for cattle earth. May one Which
                                        life divide sea. Optio veniam quibusdam
                                        fugit aspernatur ratione rerum
                                        necessitatibus ipsa eligendi? Laudantium
                                        beatae aut earum ab doloribus tempore
                                        veritatis repellat natus illo, veniam
                                        quibusdam fugit aspernatur
                                        cumque harum quos esse libero nesciunt,
                                        molestiae saepe, possimus a suscipit.
                                    </p>
                                    <div class="room-book">
                                        <p><span>$59</span> Per Night</p>
                                        <a href=""><button class="btn">Book Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="room-item col-4">
                            <div class="room">
                                <div class="room-img">
                                    <img src="../public/room/room-8.jpg" alt="">
                                </div>
                                <div class="room-content">
                                    <ul class="room-space">
                                        <li>
                                            <i class="fa-solid fa-bed"></i>
                                            <span>Adult: 2</span>
                                        </li>
                                        <li>
                                            <i class="fa-solid fa-square"></i>
                                            <span>Size: 35m<sup>2</sup></span>
                                        </li>
                                    </ul>
                                    <h1>Business Class Room</h1>
                                    <p>
                                        Image for cattle earth. May one Which
                                        life divide sea. Optio veniam quibusdam
                                        fugit aspernatur ratione rerum
                                        necessitatibus ipsa eligendi? Laudantium
                                        beatae aut earum ab doloribus tempore
                                        veritatis repellat natus illo, veniam
                                        quibusdam fugit aspernatur
                                        cumque harum quos esse libero nesciunt,
                                        molestiae saepe, possimus a suscipit.
                                    </p>
                                    <div class="room-book">
                                        <p><span>$59</span> Per Night</p>
                                        <a href=""><button class="btn">Book Now</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="place ">
                <div class="place-title">
                    <h1>Around The Hotel</h1>
                    <p>Consectetur adipisicing elit. Nihil, illum voluptate
                        eveniet ex fugit ea delectus, sed voluptatem. Laborum
                        <br>
                        accusantium libero commodi id officiis itaque esse
                        adipisci, necessitatibus asperiores, illo odio.
                    </p>
                    <button class="btn">Services</button>
                </div>
                <div class="services section-m1">
                    <div class="row">
                        <div class="service-item col-4">
                            <div class="service">
                                <div class="service-img">
                                    <img src="../public/services/service-4.jpg"
                                        alt="">
                                </div>
                                <div class="service-content">
                                    <h1>Playroom</h1>
                                    <div class="hidden">
                                        <p>
                                            Image for cattle earth. May one
                                            Which life divide sea. Commodi
                                            soluta minima nemo,…
                                        </p>
                                        <button class="btn">Read More</button>
                                    </div>
                                </div>
                                <span>Free</span>
                            </div>
                        </div>
                        <div class="service-item col-4">
                            <div class="service">
                                <div class="service-img">
                                    <img src="../public/services/service-2.jpg"
                                        alt="">
                                </div>
                                <div class="service-content">
                                    <h1>Pool</h1>
                                    <div class="hidden">
                                        <p>
                                            Image for cattle earth. May one
                                            Which life divide sea. Commodi
                                            soluta minima nemo,…
                                        </p>
                                        <button class="btn">Read More</button>
                                    </div>
                                </div>
                                <span>Free</span>
                            </div>
                        </div>
                        <div class="service-item col-4">
                            <div class="service">
                                <div class="service-img">
                                    <img src="../public/services/service-1.jpg"
                                        alt="">
                                </div>
                                <div class="service-content">
                                    <h1>Lounge Bar</h1>
                                    <div class="hidden">
                                        <p>
                                            Image for cattle earth. May one
                                            Which life divide sea. Commodi
                                            soluta minima nemo,…
                                        </p>
                                        <button class="btn">Read More</button>
                                    </div>
                                </div>
                                <span>Free</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="place">
                <div class="place-title">
                    <h1>Feedback from our Guests</h1>
                    <p>Consectetur adipisicing elit. Nihil, illum voluptate
                        eveniet ex fugit ea delectus, sed voluptatem. Laborum
                        <br>
                        accusantium libero commodi id officiis itaque esse
                        adipisci, necessitatibus asperiores, illo odio.
                    </p>
                </div>
                <div class="slider">
                    <div class="slides feedbacks">
                        <div class="slide-box">
                            <div class="feedback">
                                <div class="feedback-img">
                                    <img
                                        src="../public/feedback/faces-3-scaled.jpg"
                                        alt="">
                                    <h1>Viktoria Freeman</h1>
                                    <span>From Ukraina</span>
                                </div>
                                <div class="feedback-content">
                                    <span> <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i></span>
                                    <p>
                                        Dequi folores dolor sit amet,
                                        consectetur
                                        adipisicing elit. Nesciunt illo,
                                        delectus
                                        totam! Delectus illo magnam voluptatem a
                                        tempora id vitae dolor, quis natus iusto
                                        molestiae ab nam error vero possimus
                                        ullam
                                        facilis porro veritatis?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide-box">
                            <div class="feedback">
                                <div class="feedback-img">
                                    <img
                                        src="../public/feedback/faces-2-scaled.jpg"
                                        alt="">
                                    <h1>Viktoria Freeman</h1>
                                    <span>From Ukraina</span>
                                </div>
                                <div class="feedback-content">
                                    <span> <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i></span>
                                    <p>
                                        Dequi folores dolor sit amet,
                                        consectetur
                                        adipisicing elit. Nesciunt illo,
                                        delectus
                                        totam! Delectus illo magnam voluptatem a
                                        tempora id vitae dolor, quis natus iusto
                                        molestiae ab nam error vero possimus
                                        ullam
                                        facilis porro veritatis?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide-box">
                            <div class="feedback">
                                <div class="feedback-img">
                                    <img
                                        src="../public/feedback/faces-1-scaled.jpg"
                                        alt="">
                                    <h1>Viktoria Freeman</h1>
                                    <span>From Ukraina</span>
                                </div>
                                <div class="feedback-content">
                                    <span> <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i></span>
                                    <p>
                                        Dequi folores dolor sit amet,
                                        consectetur
                                        adipisicing elit. Nesciunt illo,
                                        delectus
                                        totam! Delectus illo magnam voluptatem a
                                        tempora id vitae dolor, quis natus iusto
                                        molestiae ab nam error vero possimus
                                        ullam
                                        facilis porro veritatis?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide-box">
                            <div class="feedback">
                                <div class="feedback-img">
                                    <img
                                        src="../public/feedback/faces-4-scaled.jpg"
                                        alt="">
                                    <h1>Viktoria Freeman</h1>
                                    <span>From Ukraina</span>
                                </div>
                                <div class="feedback-content">
                                    <span> <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i></span>
                                    <p>
                                        Dequi folores dolor sit amet,
                                        consectetur
                                        adipisicing elit. Nesciunt illo,
                                        delectus
                                        totam! Delectus illo magnam voluptatem a
                                        tempora id vitae dolor, quis natus iusto
                                        molestiae ab nam error vero possimus
                                        ullam
                                        facilis porro veritatis?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide-box">
                            <div class="feedback">
                                <div class="feedback-img">
                                    <img
                                        src="../public/feedback/faces-5-scaled.jpg"
                                        alt="">
                                    <h1>Viktoria Freeman</h1>
                                    <span>From Ukraina</span>
                                </div>
                                <div class="feedback-content">
                                    <span> <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i></span>
                                    <p>
                                        Dequi folores dolor sit amet,
                                        consectetur
                                        adipisicing elit. Nesciunt illo,
                                        delectus
                                        totam! Delectus illo magnam voluptatem a
                                        tempora id vitae dolor, quis natus iusto
                                        molestiae ab nam error vero possimus
                                        ullam
                                        facilis porro veritatis?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide-box">
                            <div class="feedback">
                                <div class="feedback-img">
                                    <img
                                        src="../public/feedback/faces-6-scaled.jpg"
                                        alt="">
                                    <h1>Viktoria Freeman</h1>
                                    <span>From Ukraina</span>
                                </div>
                                <div class="feedback-content">
                                    <span> <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i></span>
                                    <p>
                                        Dequi folores dolor sit amet,
                                        consectetur
                                        adipisicing elit. Nesciunt illo,
                                        delectus
                                        totam! Delectus illo magnam voluptatem a
                                        tempora id vitae dolor, quis natus iusto
                                        molestiae ab nam error vero possimus
                                        ullam
                                        facilis porro veritatis?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide-box">
                            <div class="feedback">
                                <div class="feedback-img">
                                    <img
                                        src="../public/feedback/faces-7-scaled.jpg"
                                        alt="">
                                    <h1>Viktoria Freeman</h1>
                                    <span>From Ukraina</span>
                                </div>
                                <div class="feedback-content">
                                    <span> <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i></span>
                                    <p>
                                        Dequi folores dolor sit amet,
                                        consectetur
                                        adipisicing elit. Nesciunt illo,
                                        delectus
                                        totam! Delectus illo magnam voluptatem a
                                        tempora id vitae dolor, quis natus iusto
                                        molestiae ab nam error vero possimus
                                        ullam
                                        facilis porro veritatis?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide-box">
                            <div class="feedback">
                                <div class="feedback-img">
                                    <img
                                        src="../public/feedback/faces-8-scaled.jpg"
                                        alt="">
                                    <h1>Viktoria Freeman</h1>
                                    <span>From Ukraina</span>
                                </div>
                                <div class="feedback-content">
                                    <span> <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i></span>
                                    <p>
                                        Dequi folores dolor sit amet,
                                        consectetur
                                        adipisicing elit. Nesciunt illo,
                                        delectus
                                        totam! Delectus illo magnam voluptatem a
                                        tempora id vitae dolor, quis natus iusto
                                        molestiae ab nam error vero possimus
                                        ullam
                                        facilis porro veritatis?
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="slide-box">
                            <div class="feedback">
                                <div class="feedback-img">
                                    <img
                                        src="../public/feedback/faces-3-scaled.jpg"
                                        alt="">
                                    <h1>Viktoria Freeman</h1>
                                    <span>From Ukraina</span>
                                </div>
                                <div class="feedback-content">
                                    <span> <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i>
                                        <i class="fa-solid fa-star"></i></span>
                                    <p>
                                        Dequi folores dolor sit amet,
                                        consectetur
                                        adipisicing elit. Nesciunt illo,
                                        delectus
                                        totam! Delectus illo magnam voluptatem a
                                        tempora id vitae dolor, quis natus iusto
                                        molestiae ab nam error vero possimus
                                        ullam
                                        facilis porro veritatis?
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </section>


            <footer class="footer">
                <div class="row">
                    <div class="col-4">
                        <div class="logo footer-title">
                            <img src="../public/logo/logo-w.svg" alt="">
                        </div>
                        <p>Sequi dolores ratione eos eveniet provident soluta.
                            Omnis nesciunt sit eos at, eius voluptatum rem
                            corporis. Doloremque labore assumenda explicabo
                            velit illo, soluta, inventore hic.</p>
                        <span class="footer-link">
                            <i class="fa-brands fa-facebook"></i>
                            <i class="fa-brands fa-twitter"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </span>
                    </div>
                    <div class="col-2 ">
                        <div class="footer-title">
                            <h4>Menu</h4>
                        </div>
                        <ul>
                            <li>Home</li>
                            <li>About Us</li>
                            <li>Rooms</li>
                            <li>Blog</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                    <div class="col-2 ">
                        <div class="footer-title">
                            <h4>Meet Kinsley</h4>
                        </div>
                        <ul>
                            <li>Gallery</li>
                            <li>Restaurant</li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <div class="footer-title">
                            <h4>Instagram</h4>
                        </div>
                        <div class="row">
                            <div class="ins-img col-4">
                                <img src="../public/about/about-6.jpg" alt="">
                            </div>
                            <div class="ins-img col-4">
                                <img src="../public/about/about-2.jpg" alt="">
                            </div>
                            <div class="ins-img col-4">
                                <img src="../public/about/about-3.jpg" alt="">
                            </div>
                            <div class="ins-img col-4">
                                <img src="../public/about/about-4.jpg" alt="">
                            </div>
                            <div class="ins-img col-4">
                                <img src="../public/about/about-5.jpg" alt="">
                            </div>
                            <div class="ins-img col-4">
                                <img src="../public/about/about-7.jpg" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </footer>

            <div class="modal-section form_hiden">
                <div class="modal_overlay">
                    <div id="signUp" class="auth_form form_hiden">
                        <div class="auth_form__container">
                            <h4>Đăng ký tài khoản</h4>
                            <p>Bạn đã có tài khoản? <span class="signIn3">Đăng
                                    nhập</span></p>
                            <form action="">
                                <div class="form-group">
                                    <label for="" class="form-lable">Tên đầy đủ</label>
                                    <input id="fullname" type="text">
                                    <span class="form-message"></span>
                                </div>
                                <div class="form-group ">
                                    <label for="" class="form-lable">Email</label>
                                    <input id="fullname" type="text">
                                    <span class="form-message"></span>
                                </div>
                                <div class="form-group ">
                                    <label for="" class="form-lable">Mật khẩu</label>
                                    <input id="fullname" type="text">
                                    <span class="form-message"></span>
                                </div>
                                <div class="form-group ">
                                    <label for="" class="form-lable">Nhập lại
                                        mật khẩu</label>
                                    <input id="fullname" type="text">
                                    <span class="form-message"></span>
                                </div>
                                <button class="btn3">Đăng ký</button>
                            </form>
                        </div>
                    </div>

                    <div id="signIn" class="auth_form form_hiden">
                        <div class="auth_form__container">
                            <h4>Đăng Nhập</h4>
                            <p>Bạn đã chưa tài khoản? <span class="signUp3">Đăng
                                    kí ngay</span></p>
                            <form action="">

                                <div class="form-group ">
                                    <label for="" class="form-lable">Email</label>
                                    <input id="fullname" type="text">
                                    <span class="form-message"></span>
                                </div>
                                <div class="form-group ">
                                    <label for="" class="form-lable">Mật khẩu</label>
                                    <input id="fullname" type="text">
                                    <span class="form-message"></span>
                                </div>

                                <button class="btn3">Đăng nhập</button>
                            </form>

                        </div>
                    </div>
                    <span class="close"><i class="fa-solid fa-xmark"></i></span>
                </div>
            </div>

        </div>
        <script src="../public/main.js"></script>
        <script>
        var nextWidth = 434;

        setInterval(function () {
            if (nextWidth <= -4046) {
                nextWidth = 434;
            }
            nextWidth += -640;
            document.querySelector('.feedbacks').style.marginLeft = nextWidth + 'px'; 
        },3000);



    </script>
    </body>

</html>